<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <title>发布推广信息</title>
        <link rel="stylesheet" href="/stylesheets/style_activity.css" />
        <link rel="stylesheet" href="/scripts/jqueryui/jquery-ui.min.css" />
        <link rel="stylesheet" href="/scripts/jqueryui/plugins/datetime/jquery.datetimepicker.css" />
        <link rel="Shortcut Icon" href="/favicon.png">
        <meta charset="utf-8">
        <script src="/scripts/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/plugins/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="/scripts/jqueryui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/scripts/image-upload.js"></script>
        <script type="text/javascript" src="/scripts/jqueryui/plugins/datetime/jquery.datetimepicker.full.min.js"></script>
        <script>
            baseUrl = '<%= rawParameters.baseUrl %>';
            editingPromotionId = <%= promotionId %>;

            tinymce.init({
                selector: 'textarea#textarea-content',
                toolbar: "forecolor backcolor | bold italic underline strikethrough | cut copy paste | image",
                plugins: "image imagetools textcolor",
                language: 'zh_CN',
                menu: {
                    edit: {title: '编辑', items: 'undo redo | cut copy paste pastetext | selectall'},
                    color: {title: '字体', items: 'formats'},
                    format: {title: '格式', items: 'forecolor backcolor | bold italic underline strikethrough superscript subscript | removeformat'},
                },
                height: 300,
                width: 650
            });

            function submitForm(isPreview) {
                if (!checkFields()) return;

                var data = $('#promotion-form').serializeArray();

                var content;
                try {
                    content = encodeURIComponent(tinyMCE.get('textarea-content').getContent());
                } catch (ex) {
                    content = encodeURIComponent($('#textarea-content').val());
                }

                if (!content || content.length < 1 || content.length > 10 * 1024) {
                    alert('推广内容不能为空，而且不能超过 10KB。');
                    return;
                }

                if (!isPreview && !confirm('提交后便不能再修改。您确认要提交此推广信息吗？')) 
                    return;

                setSubmitButtonVisibility(false);

                if (editingPromotionId > 0) 
                    data.push({name: 'id', value: editingPromotionId});

                data.push({name: 'status', value: isPreview ? 'e': 'p'});
                data.push({name: 'avatar', value: encodeURIComponent($('#post-update-avatar-img').attr('src'))});
                data.push({name: 'folder', value: encodeURIComponent($('#img-folder').attr('src'))});
                data.push({name: 'content', value: content});
                data.push({name: 'folderPreview', value: encodeURIComponent(folderPreviewURI)});
                data.push({name: 'type', value: '<%= rawParameters.type %>'})

                $.ajax({
                    type: "POST",
                    data: data,
                    dataType: "json",
                    url: getSubmitUrl(),
                    async: true,
                    success: function (obj) {
                        if (obj.type && obj.type == 'Error') {
                            alert('发布失败：' + obj.message);
                        } else {
                            if (!isPreview) {
                                alert(obj.message);
                                window.location = baseUrl + "promotion/list/<%= rawParameters.userId %>/all/all/<%= user.telMask %>";
                            } else {
                                window.open(baseUrl + "promotion/" + obj.id, "_blank");
                            }
                        }
                        setSubmitButtonVisibility(true);
                    },
                    error: function (obj) {
                        setSubmitButtonVisibility(true);

                        if (obj.responseText)
                            alert('发布失败：' + JSON.parse(obj.responseText).message);
                        else
                            alert('发布失败，请检查您的网络连接，然后再试一次。');
                    }
                });

            }

            function getSubmitUrl() {
                if (editingPromotionId > 0) {
                    return baseUrl + "promotion/update/" + editingPromotionId + "/<%= rawParameters.userId %>/<%= user.telMask %>";
                } else {
                    return baseUrl + "promotion/add/<%= rawParameters.type %>/<%= rawParameters.userId %>/<%= user.telMask %>";
                }
            }

            function setSubmitButtonVisibility(isVisible) {
                if (isVisible) {
                    $('#submit-button').show();
                    $('#submit-preview-button').show();
                    $('#submit-waiting-div').hide();
                } else {
                    $('#submit-button').hide();
                    $('#submit-preview-button').hide();
                    $('#submit-waiting-div').show();
                }
            }

            function checkFields() {
                var result = true;

                var simpleAlertFields = ['name', 'title', 'promotionChannel'];

                for (var i = 0; i < simpleAlertFields.length; i++) {
                    var control = $('input[name=' + simpleAlertFields[i] + ']');
                    var text = control.val();
                    if (!text || text.trim() == "") {
                        result = false;
                        control.attr('placeholder', '此字段为必填项。');
                        control.addClass('error');
                    }
                }

                var deadlineControl = $('input[name=deadline]');
                var deadline = tryParseDate(deadlineControl.val());
                if (!deadline) {
                    toggleInputError(deadlineControl, false);
                    result = false;
                } else {
                    toggleInputError(deadlineControl, true);
                }

                var startTimeControl = $('input[name=startTime]');
                var startTime = tryParseDate(startTimeControl.val());
                if (!startTime) {
                    toggleInputError(startTimeControl, false);
                    result = false;
                } else {
                    toggleInputError(startTimeControl, true);
                }

                var endTimeControl = $('input[name=endTime]');
                var endTime = tryParseDate(endTimeControl.val());
                if (!endTime || endTime <= startTime) {
                    toggleInputError(endTimeControl, false);
                    result = false;
                } else {
                    toggleInputError(endTimeControl, true);
                }

                var headcountControl = $('input[name=headcount]');
                var headcount = tryParseInt(headcountControl.val());
                if (!headcount || headcount < 1 || headcount > 999999999) {
                    toggleInputError(headcountControl, false);
                    result = false;
                } else {
                    toggleInputError(headcountControl, true);
                }

                var budgetControl = $('input[name=budget]');
                var budget = tryParseFloat(budgetControl.val());
                if (budget === null || budget < 0) {
                    toggleInputError(budgetControl, false);
                    result = false;
                } else {
                    toggleInputError(budgetControl, true);
                }

                var folder = $('#img-folder').attr('src');
                if (!folder || folder.length < 4 || folder.substring(0, 4) != "data") {
                    toggleInputError($('#img-folder'), false);
                    result = false;
                } else {
                    toggleInputError($('#img-folder'), true);
                }

                return result;
            }

            /**
             * This method will find the input's coresponding error span item and make it visible/invisible.
             * The error span item's name must be error-{name of the associate input}.
             * */
            function toggleInputError(jControl, valid) {
                if (valid) {
                    jControl.removeClass('error');
                    $('#error-' + jControl.attr('name')).hide();
                } else {
                    jControl.addClass('error');
                    $('#error-' + jControl.attr('name')).hide();
                    $('#error-' + jControl.attr('name')).show(250);
                }
            }

            function tryParseDate(dateString) {
                try {
                    return Date.parse(dateString);
                } catch (ex) {
                    return null;
                }
            }

            function tryParseInt(intString) {
                try {
                    return parseInt(intString);
                } catch (ex) {
                    return null;
                }
            }

            function tryParseFloat(floatString) {
                try {
                    return parseFloat(floatString);
                } catch (ex) {
                    return null;
                }
            }

            function uploadImage(targetWidth, targetImg, generatePreview) {
                imageLoaderTargetImgObject = targetImg;

                setImageLoaderWidth(targetWidth, targetWidth);

                dialog = $('#image-select-form').dialog({
                    autoOpen: false,
                    height: targetWidth + 270,
                    width: Math.max(500, targetWidth + 150),
                    modal: true,
                    buttons: {
                        "上传": function() {
                            var uri = getImageLoaderImage();

                            $(imageLoaderTargetImgObject).attr('src', uri);

                            if (generatePreview) {
                                resizedataURL(uri, 234, 234);
                            }

                            dialog.dialog('close');
                        },
                        "取消": function() {
                            dialog.dialog('close');
                        }
                    },
                });

                dialog.dialog('open');
            };

            // http://stackoverflow.com/questions/20958078/resize-a-base-64-image-in-javascript-without-using-canvas
            // Takes a data URI and returns the Data URI corresponding to the resized image at the wanted size.
            function resizedataURL(datas, wantedWidth, wantedHeight)
            {
                // We create an image to receive the Data URI
                var img = document.getElementById('folder-preview');

                // When the event "onload" is triggered we can resize the image.
                img.onload = function()
                    {        
                        // We create a canvas and get its context.
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');

                        // We set the dimensions at the wanted size.
                        canvas.width = wantedWidth;
                        canvas.height = wantedHeight;

                        // We resize the image with the canvas method drawImage();
                        ctx.drawImage(this, 0, 0, wantedWidth, wantedHeight);

                        folderPreviewURI = canvas.toDataURL('image/jpeg', 0.65);
                    };

                // We put the Data URI in the image's src attribute
                img.src = datas;
            }
            // Use it like that : resizedataURL('yourDataURIHere', 50, 50);

            function setFormData(data) {
                var names = Object.getOwnPropertyNames(data);

                for (var i = names.length - 1; i >=0; i--) {
                    $('input[name=' + names[i] + ']').val(data[names[i]]);
                }

                if (data.selfDescription)
                    $('textarea[name=selfDescription]').val(data.selfDescription);

                if (data.avatar)
                    $('#post-update-avatar-img').attr('src', decodeURIComponent(data.avatar));

                if (data.folderPreview) {
                    folderPreviewURI = decodeURIComponent(data.folderPreview);
                    $('#folder-preview').attr('src', folderPreviewURI);
                }

                if (data.folder)
                    $('#img-folder').attr('src', decodeURIComponent(data.folder));

                if (data.deadline)
                    $('#deadline').datetimepicker({value: new Date(data.deadline)});

                if (data.startTime)
                    $('#startTime').datetimepicker({value: new Date(data.startTime)});
                
                if (data.endTime)
                    $('#endTime').datetimepicker({value: new Date(data.endTime)});

                if (data.role) 
                    $('select[name=role]').val(data.role);
                
                if (data.content)
                    tinyMCE.get('textarea-content').setContent(decodeURIComponent(data.content));
                
                if (data.status == 'r') {
                    $('#rejected-reason-div').show();
                    $('#rejected-reason-span').text('您的推广信息已被退回。退回理由：' + decodeURIComponent(data.lastRejectedReason));
                }
            }

            $(document).ready(function() {
                $.datetimepicker.setLocale('ch');
                $('#deadline,#startTime,#endTime').datetimepicker({value: new Date()});
                if (editingPromotionId > 0) {
                    $('#loading-div').dialog({
                        modal: true,
                        height: 150,
                        width: 350
                    }).dialog('open');

                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: baseUrl + "promotion/information/" + editingPromotionId,
                        async: true,
                        success: function (obj) {
                            $('#loading-div').dialog('close');
                            if (obj.type && obj.type == 'Error') {
                                alert('获取推广信息失败，请返回上一页，然后再试一次：' + obj.message);
                                return;
                            }
                            setFormData(obj);
                        },
                        error: function (obj) {
                            $('#loading-div').dialog('close');
                            if (obj.responseText)
                                alert('获取推广信息失败，请返回上一页，然后再试一次：' + JSON.parse(obj.responseText).message);
                            else
                                alert('获取推广信息失败，请返回上一页，然后再试一次。');
                        }
                    });
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: baseUrl + "promotion/detail/" + editingPromotionId,
                        async: true,
                        success: function (obj) {
                            if (obj.type && obj.type == 'Error') {
                                alert('获取推广信息（详情）失败，请返回上一页，然后再试一次：' + obj.message);
                                return;
                            }
                            setFormData(obj);
                        },
                        error: function (obj) {
                            if (obj.responseText)
                                alert('获取推广信息（详情）失败，请返回上一页，然后再试一次：' + JSON.parse(obj.responseText).message);
                            else
                                alert('获取推广信息（详情）失败，请返回上一页，然后再试一次。');
                        }
                    });
                }
                initImageLoader();
                $('input').blur(function () {
                    var text = $(this).val();
                    if (text != null && text.trim() != "") {
                        $(this).removeClass('error');
                        toggleInputError($(this), true);
                    }
                });
            })
        </script>
    </head>

    <body id="post-body">
        <% include ../common/image_upload %>

        <% include ../common/top_bar %>

        <div id="loading-div" title="请稍候" style="display:none">
            <p> 正在向服务器请求数据，请稍等。 </p>
        </div>

		<div id="post-message-div" class="post-div-container start">
			<label id="post-message-title">
                <% if (rawParameters.type == 'm') { %>
                    亲爱的品牌广告主，请在下面发布您的推广需求，我们将推送给 1000+ 优质时尚自媒体。
                <% } else { %>
				    亲爱的营销服务商，请在下面发布您的推广服务，我们将推送给 1000+ 时尚品牌广告主。
                <% } %>
			</label>	
		</div>

        <div id="rejected-reason-div" class="post-div-container" style="display:none">
            <span class="must-label" id="rejected-reason-span"></span>
        </div>

        <form id="promotion-form" action="" method="post">

        <div id="post-author-div" class="post-div-container">
            <table>
                <tr>
                    <td class="post-table-black-label" colspan="3">
                        <%= rawParameters.type == 'm' ? '推广需求方' : '推广服务商' %>
                        <span class="post-description">（让大家认识下你或者认识下品牌）</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <img src="http://paifan.me/index/images/post/upload_avatar.png" alt="头像设置" class="img-button" id="post-update-avatar-img"
                            onclick="uploadImage(160, this);" />
                    </td>
                    <td class="post-table-gray-label">名字 <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td>
                        <input type="text" id="post-name-input" name="name" class="post-small" maxlength="50">
                    </td>
                    <td rowspan="2">
                        <textarea name="selfDescription" id="post-selfdesc-input" cols="30" rows="10" class="post-multi" placeholder="介绍下自己活介绍下品牌（不超过 500 字）" maxlength="500"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="post-table-gray-label">角色</td>
                    <td>
                        <select name="role" id="post-job-input" class="post-small">
                            <option value="">-- 请选择 --</option>
                            <option value="品牌">品牌</option>
                            <option value="时尚博主">时尚博主</option>
                            <option value="搭配师">搭配师</option>
                            <option value="时尚达人">时尚达人</option>
                            <option value="买手">买手</option>
                            <option value="形象设计师">形象设计师</option>
                            <option value="集成店">集成店</option>
                            <option value="陪购师">陪购师</option>
                            <option value="衣橱整理师">衣橱整理师</option>
                            <option value="自营店">自营店</option>
                            <option value="体验店">体验店</option>
                            <option value="摄影师">摄影师</option>
                            <option value="买手店">买手店</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="post-table-gray-label">设置个人或品牌头像</td>
                </tr>
            </table>
        </div>

        <div id="post-cover-div" class="post-div-container">
            <table>
                <tr>
                    <td class="post-table-black-label"><%= rawParameters.type == 'm' ? '推广需求封面' : '推广服务封面' %> <span class="must-label">&nbsp;*&nbsp;</span>
                    <span class="post-description">（为保证显示效果，图片宽高不能低于 640 像素）</span></td>
                </tr>

                <tr>
                    <td id="suit_cover">
                        <img src="http://paifan.me/index/images/post/upload_cover.png" id="img-folder" onclick="uploadImage(480, this, true);" class="img-button" style="width:320px;height:320px">
                        <img width="234px" height="234px" id="folder-preview" style="display:none;">
                        <span class="must-label" id="error-folder" style="display:none;">&nbsp;&nbsp;请上传推广封面。</span>
                    </td>
                </tr>
                <tr>
                    <td class="must-label" id="suit_cover_msg"></td>
                </tr>
            </table>
        </div>

        <div id="post-article-div" class="post-div-container">
            <table>
                <tr>
                    <td class="post-table-black-label"> <%= rawParameters.type == 'm' ? '推广需求标题' : '推广服务标题' %> <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input type="text" name="title" id="post-title-input" class="post-small" placeholder="不超过 33 个字。" maxlength="33"></td>
                </tr>
                <tr>
                    <td class="post-table-black-label">报名截止时间 <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input type="text" id="deadline" name="deadline" class="post-small"><span id="error-deadline" class="must-label" style="display:none;">&nbsp;&nbsp;报名截止时间输入无效。</span></td>
                </tr>
                <tr>
                    <td class="post-table-black-label">推广开始时间 <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input type="text" id="startTime" name="startTime" class="post-small"><span id="error-startTime" class="must-label" style="display:none;">&nbsp;&nbsp;开始时间输入无效。</span></td>
                </tr>
                <tr>
                    <td class="post-table-black-label">推广结束时间 <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input type="text" id="endTime" name="endTime" class="post-small"><span id="error-endTime" class="must-label" style="display:none;">&nbsp;&nbsp;结束时间输入无效。</span></td>
                </tr>
                <tr>
                    <td class="post-table-black-label"><%= rawParameters.type =='m' ? '期望推广渠道': '推广宣传渠道' %> <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input id="post-channel-input" name="promotionChannel" type="text" class="post-small" maxlength="100"></td>
                </tr>
                <tr>
                    <td class="post-table-black-label">参加名额限制 <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input min="0" max="99999999" type="number" name="headcount" class="post-small"><span id="error-headcount" class="must-label" style="display:none;">&nbsp;&nbsp;所输入的名额无效。您只能输入一个正整数。</span></td>
                </tr>
                <tr>
                    <td class="post-table-black-label"><%= rawParameters.type =='m' ? '推广预算': '推广报价' %> <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><input name="budget" type="number" min="0" max="999999999" step="1000" class="post-small">&nbsp;&nbsp;元<span  id="error-budget"class="must-label" style="display:none;">&nbsp;&nbsp;推广预算无效。您只能输入一个非负数。</span></td>
                </tr>
                <tr>
                    <td class="post-table-black-label"><%= rawParameters.type =='m' ? '推广需求详情': '推广服务详情' %> <span class="must-label">&nbsp;*&nbsp;</span></td>
                    <td><textarea id="textarea-content"></textarea></td>
                </tr>
            </table>
            
        </div>
        <div class="post-div-container" id="post-submit-div">
            <div class="button-red-big" style="padding: 12px 50px;border-radius:8px;" onclick="submitForm();" id="submit-button">
                <%= rawParameters.type =='m' ? '发布需求': '发布服务' %>
            </div>
            <div class="button-white" style="padding: 10px 50px;margin-left: 30px;" onclick="submitForm(true);" id="submit-preview-button">
                预览效果
            </div>
            <div id="submit-waiting-div" style="display:none;">
                正在提交，请稍等。
            </div>
        </div>
        </form>
        <% include ../common/bottom_bar %>
    </body>
</html>