<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include ../common/head %>
        <title>自媒体入驻审核管理</title>
        <script>
            $(function () {
                baseUrl = '<%= rawParameters.baseUrl %>';
                merchantServiceUrl = '<%= rawParameters.merchantServiceUrl %>';
            });

            function approveMediaInfo(userId) {
                var url = merchantServiceUrl + 'audit/media/:userId/a/empty';
                url = url.replace(':userId', userId);

                if (confirm('您确定要批准这个申请吗？') == true) {
                    window.open(url);
                }
            };

            function rejectMediaInfo(userId) {
                var url = merchantServiceUrl + 'audit/media/:userId/r/:rejectedReason';

                url = url.replace(':userId', userId);
                var reason = prompt('请输入拒绝申请的理由。留空表示取消操作。');
                if (!reason || reason == '') {
                    return;
                }

                if (reason.length > 50) {
                    alert('拒绝理由不能超过 50 个字符。');
                    return;
                }

                reason = encodeURIComponent(reason);
                url = url.replace(':rejectedReason', reason);
                
                window.open(url);
            };

            function viewMediaInfo(userId) {
                window.open(baseUrl + 'manage/audit/info/' + userId);
            };
        </script>
    </head>
    <body>
        <table width="80%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户号</th>
                    <th>姓名</th>
                    <th>提交时间</th>
                    <th>手机号</th>
                    <th>审核状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% list.forEach(function (mediaInfo) { %>
                    <tr>
                        <td><%= mediaInfo.id %></td>
                        <td><%= mediaInfo.userId %></td>
                        <td><%= mediaInfo.name %></td>
                        <td><%= mediaInfo.entryTime %></td>
                        <td><%= mediaInfo.phone %></td>
                        <td><%= mediaInfo.statusString %></td>
                        <td>
                            <a class='yellow-button' onclick='viewMediaInfo(<%= mediaInfo.userId %>);'>查看</a>
                            
                            <% if (mediaInfo.mediaInfoStatus != 'a' && mediaInfo.mediaInfoStatus != 'r') { %>
                                <a class='green-button' onclick='approveMediaInfo(<%= mediaInfo.userId %>);'>批准</a>
                            <% } %>
                            
                            <% if (mediaInfo.mediaInfoStatus != 'r') { %>
                                <a class='red-button' onclick='rejectMediaInfo(<%= mediaInfo.userId %>);'>退回</a>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br />
        共 <%= list.length %> 条记录。
    </body>
</html>