<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include ../common/head %>
        <title>推广审核管理</title>
        <script>
            $(function () {
                baseUrl = '<%= rawParameters.baseUrl %>';
            });

            function sendAuditRequest(promotionId, auditStatus, rejectedReason) {
                var url = "<%= rawParameters.baseUrl %>manage/audit/promotion/<%= token %>/" +
                            promotionId + "/" + auditStatus + "/" + encodeURIComponent(rejectedReason);
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: url,
                    async: true, 
                    success: function(obj) {
                        alert(obj.message);
                        window.location.reload(true);
                    },
                    error: function (obj) {
                        alert(JSON.parse(obj.responseText).message);
                    }
                });
            }

            function approvePromotion(promotionId) {
                if (!confirm('您确定要批准这个推广吗？')) {
                    return;
                }

                sendAuditRequest(promotionId, 'a', '0');
            }

            function shelvePromotion(promotionId) {
                if (!confirm('您确定要将这个推广下架吗？如果下架，未截止的推广将不接受新的报名。')) {
                    return;
                }

                sendAuditRequest(promotionId, 'x', '0');
            }

            function rejectPromotion(promotionId) {
                var rejectedReason = prompt('请输入退回修改的理由，不能超过 70 个字符。留空表示取消操作');
                if (!rejectedReason || rejectedReason == '' || rejectedReason.length > 70) {
                    return;
                }

                sendAuditRequest(promotionId, 'r', rejectedReason);
            }

            $(document).ready(function () {
                $('#select-type').val('<%= queries.type %>');
                $('#select-audit-status').val('<%= queries.auditStatus %>');
                $('#input-title').val('<%= queries.titleOrTelephone == "all" ? "" : queries.titleOrTelephone %>');
            });

        </script>
    </head>
    <body>
        <div>
            <form action="<%= rawParameters.baseUrl %>manage/audit/promotion/list" method="POST"> <!-- onsubmit="return navTabSearch(this);" -->
                <input type="hidden" name="token" value="<%= token %>">
                <input type="hidden" name="page" value="0">
                
                <select id="select-type" name="type">
                    <option value="all">-- 全部需求类型 --</option>
                    <option value="m">推广需求（品牌）</option>
                    <option value="s">推广服务（自媒体）</option>
                </select>
                
                <select id="select-audit-status" name="auditStatus">
                    <option value="all">-- 全部状态 --</option>
                    <option value="e">未发布</option>
                    <option value="p">待审核</option>
                    <option value="a">审核通过</option>
                    <option value="r">退回修改</option>
                    <option value="x">已下架</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;标题：
                <input type="text" maxlength="50" id="input-title" name="titleOrTelephone">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" value="筛选">
            </form>
        </div>

        <br/>

        <table width="1200px">
            <thead>
                <tr>
                    <th width="5%">ID</th>
                    <th width="5%">用户编号</th>
                    <th width="15%">推广标题</th>
                    <th width="8%">封面</th>
                    <th width="10%">发布时间</th>
                    <th width="10%">截止时间</th>
                    <th width="5%">报名/总数</th>
                    <th width="10%">推广渠道/预算</th>
                    <th width="10%">发布者名称</th>
                    <th width="8%">审核状态</th>
                    <th width="14%">操作</th>
                </tr>
            </thead>
            <tbody>
                <% promotions.forEach(function (promotion) { %>
                    <tr>
                        <td><%= promotion.id %></td>
                        <td><a href="<%= rawParameters.baseUrl + 'manage/audit/info/' + promotion.userId %>" target="_blank"><%= promotion.userId %><br/>(详情)</a></td>
                        <td><%= promotion.title %></td>
                        <td><img width="60px" height="60px" src='<%= decodeURIComponent(promotion.folderPreview) %>'></td>
                        <td><%= promotion.entryTime %></td>
                        <td><%= promotion.deadline %></td>
                        <td>
                            <%= promotion.signedCount ? promotion.signedCount : 0 %> <br/>/ <%= promotion.headcount <= 0 ? '不限': promotion.headcount %> <br/>
                            <a href="<%= rawParameters.baseUrl + 'manage/sign/list/' + token + '/' + promotion.id %>" target="_blank">
                                报名表
                            </a>
                        </td>
                        <td><%= promotion.promotionChannel %><br/>/ <%= promotion.budget %> 元</td>
                        <td><%= promotion.name %></td>
                        <td><%= promotion.statusString %></td>
                        <td>
                            <a class='yellow-button' href="<%= rawParameters.baseUrl + 'promotion/' + promotion.id %>" target="_blank">查看</a>
                            
                            <% if (promotion.status != 'e' && promotion.status != 'a') { %>
                                <a class='green-button' onclick='approvePromotion(<%= promotion.id %>);'>批准</a>
                            <% } %>
                            
                            <% if (promotion.status != 'e' && promotion.status != 'r') { %>
                                <a class='red-button' onclick='rejectPromotion(<%= promotion.id %>);'>退回</a>
                            <% } %>

                            <% if (promotion.status != 'e' && promotion.status == 'a') { %>
                                <a class='red-button' onclick='shelvePromotion(<%= promotion.id %>);'>下架</a>
                            <% } %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <br />
        共 <%= count %> 条记录，当前显示 <%= promotions.length %> 条，第 <%= page + 1 %> 页。
        <% if (page > 0) { %>
            <a href="">上一页</a>
        <% } %>
    </body>
</html>