<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <title>我发布的推广</title>
        <link rel="stylesheet" href="/stylesheets/style_activity.css" />
        <link rel="stylesheet" href="/scripts/jqueryui/jquery-ui.min.css" />
        <link rel="Shortcut Icon" href="/favicon.png">
        <meta charset="utf-8">
        <script src="/scripts/jquery-3.1.0.min.js"></script>
        <script type="text/javascript" src="/scripts/jqueryui/jquery-ui.min.js"></script>
        <script src="/scripts/qrcode.min.js"></script>
        <style>
            div.publish {
                padding: 10px 20px;
                margin: 40px;
            }
            div.message {
                text-align: center;
                margin: 50px 0 0 0;
                height: 400px;
            }
        </style>
        <script>
            baseUrl = '<%= rawParameters.baseUrl %>'
            myShareQrCode = null;

            function openPromotion(id, status) {
                if (status == 'e' || status == 'r') {
                    window.open(baseUrl + 'promotion/publish/update/' + id + "/<%= rawParameters.userId %>/<%= user.telMask %>", "_blank");
                } else {
                    window.open(baseUrl + 'promotion/' + id, "_blank");
                }
            }

            function filterPromotions(status) {
                window.location = baseUrl + 'promotion/list/<%= rawParameters.userId %>/all/' + status + '/<%= user.telMask %>'; 
            }

            function sharePromotion(id, titleEncoded) {
                var url = baseUrl + 'promotion/' + id;

                if (myShareQrCode) {
                    myShareQrCode.clear();
                    myShareQrCode.makeCode(url);
                } else {
                    myShareQrCode = new QRCode(document.getElementById('qrcode'), url);
                }

                var dialog = $('#share-form').dialog({
                    title: decodeURIComponent(titleEncoded),
                    autoOpen: false,
                    height: 330,
                    width: 300,
                    modal: true
                });

                dialog.dialog('open');
            }

            $(document).ready(function () {
                $('#f-<%= rawParameters.status %>').addClass('active');
            });
        </script>
    </head>

    <body>
        <% include ../common/top_bar %>

        <div id="share-form">
            <div id="qrcode"></div>
        </div>

        <div class="container start">
        <% if (promotions.length > 0 || rawParameters.status != 'all') { %>
            <ul class="filter">
                <li id="f-all" onclick="filterPromotions('all');"><%= user.userType == '2' ? '全部需求': '全部服务' %><br/>(<%= counts['all'] %>)</li>
                <li id="f-s" onclick="filterPromotions('s');">未发布<br/>(<%= counts['s'] === void 0 ? 0 : counts['e'] %>)</li>
                <li id="f-p" onclick="filterPromotions('p');">待审核<br/>(<%= counts['p'] === void 0 ? 0 : counts['p'] %>)</li>
                <li id="f-a" onclick="filterPromotions('a');">审核通过<br/>(<%= counts['a'] === void 0 ? 0 : counts['a'] %>)</li>
                <li id="f-x" onclick="filterPromotions('x');">被下架<br/>(<%= counts['x'] === void 0 ? 0 : counts['x'] %>)</li>
            </ul>
        <% } %>
        </div>

        <div class="container">
            <% promotions.forEach(function (promotion) { %>
                <div class="mypromotion-div-outer">
                    <div class="mypromotion-div-ext" onclick="openPromotion(<%= promotion.id %>, '<%= promotion.status %>')">
                        <img src="<%= decodeURIComponent(promotion.folderPreview) %>" alt="推广" class="mypromotion-ext">
                        <div class="text">
                            <%= promotion.statusString %>
                        </div>
                        <div class="description">
                            <%= promotion.title %>
                        </div>
                    </div>
                    <div class="button-white my-share-button" onclick="sharePromotion(<%= promotion.id %>, '<%= encodeURIComponent(promotion.title) %>');">点击扫码分享</div>
                </div>
            <% }); %>
            <% if (!promotions || promotions.length == 0) { %>
                <br/>
                <% if (rawParameters.status == 'all') { %>
                    <div class="message">
                        <%= user.userType == 2 ? '您还未发布任何推广需求哦，赶快想想您的需求吧！': '您还未发布任何推广服务哦，开动您的脑洞去策划吧！' %>
                        <br/>
                        <br/>
                        <br/>
                        <div class="button-red-big publish"
                             onclick="window.open('http://paifan.me/wx/promotion/publish/<%= user.userType == 2 ? 'm' : 's' %>/<%= user.id %>/<%= user.telMask %>')">
                            <%= user.userType == 2 ? '去发布需求' : '去发布服务' %>
                        </div>
                    </div>  
                <% } else { %>
                没有处于该状态的推广<%= user.userType == 2 ? '需求' : '服务' %>。
                <% } %>
                
            <% } %>
        </div>

        <% include ../common/bottom_bar %>
    </body>
</html>