<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include ../common/mobile_header %>
        <title><%= promotion.title %></title>
        <style>
            div#content img {
                max-width: 100%;
                height: auto;
            }

            div.popup {
                height: 340px;
            }

            div#login-div {
                height: 270px;
            }


            input#validation-code {
                width: 130px;
            }

            div#validation-code-div {
                width: 165px;
                display: inline-block;
                vertical-align: middle;
            }

            div.button-red, div.button-white {
                margin-top: 10px;
                padding: 6px 8px;
            }
        </style>
        <script>
            baseUrl = '<%= rawParameters.baseUrl %>';
            telephone = '<%= telephone %>';
            function formatDate(date) {
                date = new Date(date);
                return date.getFullYear() + ' 年 ' + (date.getMonth() + 1) + ' 月 ' + date.getDate() + ' 日 ' + date.getHours() + ':'
                 + (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes());
            }

            function loadDetail() {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: baseUrl + "promotion/detail/" + '<%= rawParameters.promotionId %>',
                    async: true,
                    success: function (detail) {
                        if (!detail || (detail.type && detail.type == 'Error')) {
                            alert('推广信息加载失败。' + detail ? detail.message : '');
                            $('#content').text(detail ? detail.message : '');
                        } else {
                            $('#content').html(decodeURIComponent(detail.content));
                            $('#folder').attr('src', decodeURIComponent(detail.folder));
                            $('#avatar').attr('src', decodeURIComponent(detail.avatar));
                        }
                    },
                    error: function (obj) {
                        $('#content').text('推广信息加载失败。请刷新页面，再试一次。');
                        alert('推广信息加载失败。' + obj.responseText ? JSON.parse(obj.responseText).message : '');
                    }
                });
            }

            function submitSign() {
                /*
                var nameInput = $('input[name=name]');
                var telephoneInput = $('input[name=telephone]');

                if (nameInput.val() == '') {
                    alert('请输入您的姓名。');
                    return;
                }

                if (!(/^1[34578]\d{9}$/.test(telephoneInput.val()))) {
                    alert('手机号输入有误，请检查后重新输入。');
                    return;
                }
                */

                var url = '<%= rawParameters.baseUrl %>promotion/sign/<%= rawParameters.promotionId %>';
                $.ajax({
                    type: "POST",
                    data: $('#sign').serialize(),
                    dataType: "json",
                    url: url,
                    async: true,
                    success: function (obj) {
                        if (obj.type && obj.type == 'Error') {
                            alert('报名失败：' + obj.message);
                        } else {
                            alert(obj.message);
                            closeSignForm();
                            $('#sign-button').text('已报名').removeClass('button-red').addClass('button-white').off('click');
                            $('#sign-button-big').text('已报名').removeClass('button-red-big').addClass('button-white-big').off('click');
                        }
                    },
                    error: function (obj) {
                        if (obj.responseText)
                            alert('报名失败：' + JSON.parse(obj.responseText).message);
                        else
                            alert('报名失败，请检查您的网络连接，然后再试一次。');
                    }
                });
            }

            function openSignForm() {
                if (telephone) {
                    $('#telephone-input').val('手机号：' + telephone);
                    $('div.mask').height($(document).height());
                    $('div.mask').show();
                    $('#sign-form').show();
                } else {
                    openLoginForm();
                }
            }

            function closeSignForm() {
                $('div.mask').hide();
                $('#sign-form').hide();
            }

            function openLoginForm() {
                $('div.mask').height($(document).height());
                $('div.mask').show();
                $('#login-div').show();
            }

            function closeLoginForm() {
                $('div.mask').hide();
                $('#login-div').hide();
            }

            function requestValidationCode() {
                var telephone = $('#login-tel').val();

                if (!telephone || telephone.length != 11 || !(/^1[34578]\d{9}$/.test(telephone))) {
                    alert('您输入的手机号无效，请重新输入。');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'http://paifan.me/web/sendSms.html',
                    async: true,
                    data: {"tel": telephone, "smsType": "login"},
                    success: function (obj) {
                        alert(obj.message);
                    },
                    error: function (obj) {
                        alert(obj.message);
                    }
                });
            }

            function tryLogin() {
                var telephone = $('#login-tel').val();
                var code = $('#validation-code').val();

                if (!telephone || telephone.length != 11 || !(/^1[34578]\d{9}$/.test(telephone))) {
                    alert('您输入的手机号无效，请重新输入。');
                    return;
                }

                if (!code || code.length < 1) {
                    alert('请输入短信验证码。');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: 'http://paifan.me/front/login.html',
                    async: true,
                    data: {'tel': telephone, 'validateCode': code},
                    success: function (obj) {
                        document.cookie = 'wx=' + telephone + ';  path=/';
                        alert(obj.message);
                        window.location.reload();
                    }, error: function (obj) {
                        alert(obj.message);
                    }
                });
            }

            $(document).ready(function () {
                $('#deadline').text(formatDate('<%= promotion.deadline %>'));
                $('#promotionTime').text(formatDate('<%= promotion.startTime %>') + " ~ " + formatDate('<%= promotion.endTime %>'));
                loadDetail();
            });
        </script>
    </head>

    <body class="mobile">
        <div class="mask"></div>
        
		<div id="login-div" class="popup" style="display: none;">
			<div class="dialog-bar">
				登录拍范
				<!--div id="login-close-button" class="button close-button top-right-corner-button"></div-->
			</div>
			
			<form id="login" action="">
                <div class="dialog-input-placeholder">
                    <input id="login-tel" type="tel" name="tel" class="no-border" placeholder="请输入您的手机号" maxlength="11">
                </div>
                <div>
                    <div id="validation-code-div" class="dialog-input-placeholder">
                        <input type="text" id="validation-code" name="validateCode" class="no-border" placeholder="短信验证码" maxlength="11">
                    </div>
                    <div class="button-red" onclick="requestValidationCode();" style="vertical-align: middle;">获取验证码</div>
                </div>
            </form>
            <div class="buttons-line">
                <br/>
                <div class="button-red-big" onclick="tryLogin();">登录拍范</div>
                <div class="button-white-big" onclick="closeLoginForm();">以后再说</div>
            </div>
		</div>

        <div class="popup" style="display:none;" id="sign-form">
            <div class="dialog-bar">
                填写报名信息
            </div>
            <div class="dialog-content">
                <b><%= promotion.title %></b> <!-- <br/><br/>
                来自：<%= promotion.name %> -->
            </div>
            <form id="sign" action="">
                <!--div class="dialog-input-placeholder">
                    <input type="text" name="name" class="no-border" placeholder="请输入您的姓名" maxlength="20">
                </div-->
                <div class="dialog-input-placeholder">
                    <input type="text" id="telephone-input" class="no-border" placeholder="请输入您的手机号" maxlength="11" readonly="readonly" >
                </div>
                <div class="dialog-textarea-placeholder">
                    <textarea name="description" class="no-border" placeholder="自我介绍（可选）" maxlength="50"></textarea>
                </div>
            </form>
            <div class="buttons-line">
                <div class="button-red-big" onclick="submitSign();">立即报名</div>
                <div class="button-white-big" onclick="closeSignForm();">以后再说</div>
            </div>
        </div>
        <div class="mobile-title-folder-full">
            <img id="folder" src="<%= decodeURIComponent(promotion.folderPreview) %>" class="mobile-folder">
            <div class="mobile-title-float-bottom">
                <h3 class="mobile"><%= promotion.title %></h3>
            </div>
        </div>

        <div class="content">
            <div class="paragraph">
                <span class="highlight">报名截止：</span> <span id="deadline"></span>
                <% if (promotion.status == 'a') { %>
                <%   if (new Date(promotion.deadline) < new Date()) { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div class="button-white">已截止</div>
                <% } else if (promotion.headcount > 0 && promotion.headcount <= promotion.signedCount) { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div class="button-white">名额已满</div>
                <% } else { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div id="sign-button" class="button-red" onclick="openSignForm();">立即报名</div>
                <% } } %>
            </div>

            <div class="paragraph">
                <span class="highlight">推广时间：</span>
                    <span id="promotionTime"></span>
            </div>

            <div class="paragraph">
                <span class="highlight">
                    <%= promotion.type == 'm' ? '期望渠道：' : '推广渠道：' %>
                </span>
                <%= promotion.promotionChannel %>
            </div>

            <div class="paragraph">
                <span class="highlight">
                    <%= promotion.type == 'm' ? '推广预算：' : '推广报价：' %>
                </span>
                <%= promotion.budget %> 元
            </div>

            <div class="paragraph">
                <span class="highlight">
                    名额限制：
                </span>
                <%= promotion.headcount <= 0 ? '不限' : promotion.headcount + ' 人' %>
            </div>

            <div class="paragraph" id="content">
                加载推广详情中……
            </div>

            <div class="paragraph buttons-line">
                <% if (promotion.status == 'a') { %>
                <%   if (new Date(promotion.deadline) < new Date()) { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div class="button-white-big">已截止</div>
                <% } else if (promotion.headcount > 0 && promotion.headcount <= promotion.signedCount) { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div class="button-white-big">名额已满</div>
                <% } else { %>
                    &nbsp;&nbsp;&nbsp;&nbsp;<div id="sign-button-big" class="button-red-big" onclick="openSignForm();">立即报名</div>
                <% } } %>
            </div>
        </div>

        <div class="mobile-detail-author-bar">
            <h4 class="inline"> <%= promotion.type == 'm' ? '时尚广告主' : '营销服务商' %> </h4>
        </div>

        <table class="no-border author">
            <tr>
                <td rowspan="4" class="mobile-author-image">
                    <img id="avatar" src="http://image.paifan.me/placeholder640.png" alt="作者" class="mobile-detail-author-buttom">
                </td>
                <td>
                    <span id="name" class="bold"><%= promotion.name == "" ? '小范' : promotion.name %></span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <span id="role" class="role"><%= promotion.role == "" ? '时尚隐士' : promotion.role %></span>
                </td>
            </tr>
            <tr>
                <td id="selfDescription">
                    <%= promotion.selfDescription %>
                </td>
            </tr>
        </table>
    </body>

</html>