<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include /common/head %>
        <title><%= user.nickName %></title>
        <script>
            $(function () {
                userId = <%= rawParameters.userId %>;
                classifyId = <%= rawParameters.classifyId %>;
                pageNumber = <%= rawParameters.pageNumber %>;
                baseUrl = '<%= baseUrl %>';
                scrollPosition = '<%= scrollPosition %>';

                try {
                if (scrollPosition !== undefined && scrollPosition !== null) {
                        var p = scrollPosition.split(',');
                        $('.mobile-classify-tabs').scrollLeft(parseInt(p[0]));
                        if (p.length > 1) $('body').scrollTop(parseInt(p[1]));
                    }
                } catch (err) {
                    console.log(err);
                }
            });

            function getScrollPosition(includeTop) {
                var positionString;
                positionString = $('.mobile-classify-tabs').scrollLeft();
                positionString += "," + includeTop ? $('body').scrollTop() : '0';

                return positionString;
            };

            function onClassifyClicked(id) {
                window.open(baseUrl + "/user/publish/mobile/" + userId + "/" + id + "/0/" + getScrollPosition(false), "_self");
            };

            function nextPage() {
                pageNumber++;
                window.open(baseUrl + "/user/publish/mobile/" + userId + "/" + classifyId + "/" + pageNumber + "/" + getScrollPosition(false), "_self");
            };

            function previousPage() {
                pageNumber--;
                window.open(baseUrl + "/user/publish/mobile/" + userId + "/" + classifyId + "/" + pageNumber + "/" + getScrollPosition(false), "_self");
            };

            // The old service won't return the createTime if it comes to suit detail page, so simply pass the createTime to the detail page.
            // This is a temporary solution before we rewrite the detail page.
            function onArticleClicked(id, timeSpan) {
                window.open("http://paifan.me/suit/item/detail.html?suitId=" + id + "&from=gongzhonghao&backUrl=" + encodeURIComponent(window.location.href) + "&timeSpan=" + timeSpan, "_self");
            };
        </script>
    </head>

    <body class="mobile">
        <div class="mobile-classify-tabs">
            <% classifyTypes.forEach(function (classify) { %>
                <% if (classify.id == parseInt(rawParameters.classifyId)) { %>
                    <div class="mobile-classify-selected" onclick='<%= "onClassifyClicked(" + classify.id + ")"; %>'><%= classify.name %></div>
                <% } else { %>
                    <div class="mobile-classify-unselected" onclick='<%= "onClassifyClicked(" + classify.id + ")"; %>'><%= classify.name %></div>
                <% } %>
            <% }); %>
        </div>

        <div class="mobile-title-folder" onclick='<%= "onArticleClicked(" + articles[0].id + ",\"" + articles[0].timeSpan + "\")"; %>'>
            <img class="mobile-title-folder" src='<%= articles[0].cover %>'>
            <div class="mobile-title-float-bottom">
                <%= articles[0].title %>
            </div>
        </div>

        <% articles.forEach(function (article, id) { %>
            <% if (id > 0) { %>
            <div class="mobile-feed-article"  onclick='<%= "onArticleClicked(" + article.id + ",\"" + article.timeSpan + "\")"; %>'>
                <div class="mobile-feed-article-left"><img src='<%=  article.cover %>' class="mobile-feed-article-folder"></div>
                <div class="mobile-feed-article-right">
                    <div class="mobile-feed-article-line">
                        <%= article.title %>
                    </div>
                    <div class="mobile-feed-article-line">
                        <% article.classifyList.forEach(function (classify) { %>
                            <div class="mobile-classify-card"><%= classify %></div>
                        <% }); %>
                    </div>
                    <div class="mobile-feed-article-line">
                        <img src='<%= article.authorAvatar %>' class="mobile-author">
                        <div class="authorName inline"><%= article.authorName %></div>
                        <div class="authorTimeSpan inline"><%= article.timeSpan %></div>
                    </div>
                </div>
            </div>
        <% } }); %>
        
        <div class="mobile-page">
            <% if (parseInt(rawParameters.pageNumber) > 0) { %>
                <div class="mobile-previous-page" onclick="previousPage();">〈 上一页</div>
            <% } %>
            <% if (articles.length >= 10 && (rawParameters.pageNumber * 10 + 10) < user.articleCount) { %>
                <div class="mobile-next-page" onclick="nextPage();">更多攻略 〉</div>
            <% } %>
        </div>
    </body>
</html>