<!DOCTYPE html>

<html lang="zh-CN">
    <head>
        <% include /common/head %>
        <title><%= user.nickName %></title>
        <script>
            $(function () {
                userId = <%= rawParameters.userId %>;
                classifyId = <%= rawParameters.classifyId %>;
                pageNumber = <%= rawParameters.pageNumber %>;
            });

            function onClassifyClicked(id) {
                window.open("/user/publish/mobile/" + userId + "/" + id + "/0", "_self");
            };

            function nextPage() {
                pageNumber++;
                window.open("/user/publish/mobile/" + userId + "/" + classifyId + "/" + pageNumber, "_self");
            };

            function previousPage() {
                pageNumber--;
                window.open("/user/publish/mobile/" + userId + "/" + classifyId + "/" + pageNumber, "_self");
            };

            // The old service won't return the createTime if it comes to suit detail page, so simply pass the createTime to the detail page.
            // This is a temporary solution before we rewrite the detail page.
            function onArticleClicked(id, createTime) {
                var timeSpan = "";
                try {
                    createTime = Date.now() - Date.parse(createTime);
                    if (createTime < 1000 * 60 * 60) {
                        timeSpan = "刚刚";
                    } else if (createTime < 1000 * 60 * 60 * 24) {
                        timeSpan = Math.ceil(createTime / (1000 * 60 * 60)) + " 小时前";
                    } else if (createTime < 1000 * 60 * 60 * 24 * 7) {
                        timeSpan = Math.ceil(createTime / (1000 * 60 * 60 * 24)) + " 天前";
                    } else {
                        timeSpan = "7 天前";
                    }
                } catch (err){

                }

                window.open("http://paifan.me/suit/item/detail.html?suitId=" + id + "&from=gongzhonghao&backUrl=" + encodeURIComponent(window.location.href) + "&timeSpan=" + timeSpan, "_self");
            };
        </script>
    </head>

    <body class="mobile">
        <div class="mobile-classify-tabs">
            <% classifyTypes.forEach(function (classify) { %>
                <% if (classify.id == parseInt(rawParameters.classifyId)) { %>
                    <div class="mobile-classify-selected" onclick='<%= "onClassifyClicked(" + classify.id + ")"; %>'><%= classify.name %></div>
                <% } else { %>
                    <div class="mobile-classify-unselected" onclick='<%= "onClassifyClicked(" + classify.id + ")"; %>'><%= classify.name %></div>
                <% } %>
            <% }); %>
        </div>

        <div class="mobile-title-folder" onclick='<%= "onArticleClicked(" + articles[0].id + ",\"" + articles[0].createTime + "\")"; %>'>
            <img class="mobile-title-folder" src='<%= articles[0].cover + "?imageMogr2/thumbnail/640x640/format/jpg/q/95/strip" %>'>
            <div class="mobile-title-float-bottom">
                <%= articles[0].title %>
            </div>
        </div>

        <% articles.forEach(function (article, id) { %>
            <% if (id > 0) { %>
            <div class="mobile-feed-article"  onclick='<%= "onArticleClicked(" + articles[0].id + ",\"" + articles[0].createTime + "\")"; %>'>
                <div class="mobile-feed-article-left"><img src='<%=  article.cover + "?imageMogr2/thumbnail/320x320/format/jpg/q/80/strip" %>' class="mobile-feed-article-folder"></div>
                <div class="mobile-feed-article-right">
                    <div class="mobile-feed-article-line">
                        <%= article.title %>
                    </div>
                    <div class="mobile-feed-article-line">
                        <% article.classifyList.forEach(function (classify) { %>
                            <div class="mobile-classify-card"><%= classify %></div>
                        <% }); %>
                    </div>
                    <div class="mobile-feed-article-line">
                        <img src='<%= article.authorAvatar  + "?imageMogr2/thumbnail/64x64/format/jpg/q/70/strip" %>' class="mobile-author">
                        <div class="authorName inline"><%= article.authorName %></div>
                    </div>
                </div>
            </div>
        <% } }); %>
        
        <div class="mobile-page">
            <% if (parseInt(rawParameters.pageNumber) > 0) { %>
                <div class="mobile-previous-page" onclick="previousPage();">〈 上一页</div>
            <% } %>
            <% if (articles.length >= 10 && (rawParameters.pageNumber * 10 + 10) < user.articleCount) { %>
                <div class="mobile-next-page" onclick="nextPage();">更多攻略 〉</div>
            <% } %>
        </div>
    </body>
</html>